*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #04070a;
  color: #f0f4f8;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  overflow-x: hidden;
}